body{
    background-image:url(images/background-image.jpg);
    background-size: 100%;
}

*{
    font-family: arial;
    color: aliceblue;
}

h3{
    font-weight: 400
}

::placeholder {
    color: aliceblue;
    opacity: 1; /* Firefox */
  }

#form-content{
    width: 60%;
    background-color:#03796d;
    margin-left: 20%;
    padding: 20px;
    border: 1px solid #02312b;
    border-radius: 10px ;
    box-shadow: #000000 100px;
    box-shadow: 6px 6px 8px #888888;
    opacity: 0.9;
}

#header-headings{
    color: aliceblue;
    text-align: center;
}

#required{
    color: darkgray;
    text-align: left;
}

#star{
    color: blue
}

#inputs{
    background-color: #03796d;
    border: none;
    padding: 10px;
    color: aliceblue;
    border-bottom: 1px solid aliceblue;
}

#age{
    width: 30px;
    background: none;
    border: none;
    border-bottom: 0.5px solid aliceblue;
    padding: 5px;
}

#date{
    background: none;
    border: none;
    border-bottom: 1px solid aliceblue;
    padding: 5px;
}

#checkboxes{
    background: none;
    padding: 5px;
}

#checkboxes-div span{
    font-size: 13px;
}

#rate-numbers{
    width: 9%;
}

#numbers li{
    list-style-type: none;
    float: left;
    width: 4.7%;
    margin-left:0px;
}

#numbers #number-1{
    margin-left: -28px;
}

#radios{
    width: 3%;
}

#submit{
    background: #024139;
    color: aliceblue;
    margin-top: 30px;
    border: 0.5px solid #02312b;
    border-radius: 3px;
    width: 80px;
    padding: 10px;
}